/* style {
    background-image: url('https://preview.redd.it/ukxyrxfgi8721.jpg?width=960&crop=smart&auto=webp&s=e5bb4d97f6111663718f51fa53bf311d2fb72c0c')
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    padding: 2rem;

} */

/* #backImg {
    width: 100px;
    height: 100px;
} */


body {
    text-align: center;
    
    
}

h1{
    color: crimson;
}