/* style {
    background-image: url('https://preview.redd.it/ukxyrxfgi8721.jpg?width=960&crop=smart&auto=webp&s=e5bb4d97f6111663718f51fa53bf311d2fb72c0c')
    background-repeat: no-repeat;
    width: 10px;
    height: 20px;
    padding: 2rem;

} */

/* #backImg {
    width: 100px;
    height: 100px;
} */


body {
    text-align: center;
    
    
}

h1{
    color: crimson;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	overflow: auto;
    display: none;
}

#modal-textbox {
	background-color: white;
	height: 350px;
	width: 550px;
	border-radius: 2px;
	margin: 150px auto;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}